.main {
    position: absolute;
    top: 120px;
    margin: 0px 70px;
}

section {
    width: 650px;
    padding: 5px;
}

.displayURL {
    color: #333437;
    font-size: 15px;
}

.heading {
    text-decoration: none;
    color: #1a0dab;
    font-size: 17px;
}

.heading:hover {
    text-decoration: underline;
}

.description {
    color: #4d5156;
    font-size: 15px;
}

.extension {
    color: #1a0dab;
}
section ul {
    justify-content: left;
    padding: 0px;
}
section li {
    display: inline-block;
    padding: 3px;
    font-size: 13px;
    list-style: none;
}

section li:hover {
    text-decoration: underline;
}

#seemore {
    background-color: #dfe1e2;
    height: 40px;
    width: 300px;
    border-radius: 60px;
    left:150px;
    position: absolute;
}

#seemore:hover {
    position: absolute;
    background-color: #d8d7dc;
}

#footer1 {
    margin:0px;
    position: relative;
    top: 1700px;
    width: 100%;
    background-color: #dfe1e2;
}

footer {
    margin:0px;
    position: relative;
    top: 1700px;
    width: 100%;
    background-color: #f2f2f2;
    color: grey;
    font-size: 14px;
}

footer p {
    border-right: 1px solid #dadce0;
    padding: 15px 5px 3px 80px;
    width: 130px;
    text-align: right;
}

#footerNav li{
    display: inline-block;
    padding: 7px 20px 20px 5px;
}

footer ul {
    border-top: 1px solid #dadce0;
    padding-left: 105px;
}